.wrapper
  = render partial: 'shared/side_bar'

  .wrapper__main
    .wrapper__main__main-header
      .wrapper__main__main-header__name
        .wrapper__main__main-header__name__group-name
          = @group.name
        .wrapper__main__main-header__name__user-name
          %ul{:style => "list-style:none"}
            %li{:style => "float:left"} Member :
            - @group.users.each do |user|
              %li{:style => "float:left"} #{user.name}, 
      .wrapper__main__main-header__btn
        = link_to "Edit", edit_group_path(@group.id), data: { "turbolinks"=> false }

    .wrapper__main__messages
      =render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
